@model Project_3_v3.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminShop/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y" ng-controller="Products">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý/Quản lý bài nhạc/</span> Sửa bài nhạc</h4>
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Bài nhạc</h5>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card-body">
                <form>
                    <input id="id" hidden value="@Model.ProID" type="text" class="form-control" placeholder="Ma" aria-label="Username" aria-describedby="basic-addon1">
                    @Html.ValidationMessageFor(model => model.ProID, "", new { @class = "text-danger" })
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Mã thể loại nhạc</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-music"></i>
                                </span>
                                <input ng-model="product.CateID" type="text" class="form-control" placeholder="ID" aria-label="Username" aria-describedby="basic-addon1">
                                @Html.ValidationMessageFor(model => model.CateID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Tên</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-music"></i>
                                </span>
                                <input ng-model="product.Title" type="text" class="form-control" placeholder="Tên" aria-label="Username" aria-describedby="basic-addon1">
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Hình ảnh</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-music"></i>
                                </span>
                                <input ng-model="product.Image" type="text" class="form-control" placeholder="Đường dẫn" aria-label="Username" aria-describedby="basic-addon1">
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Thông tin bài nhạc</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-music"></i>
                                </span>
                                <input ng-model="product.Description" type="text" class="form-control" placeholder="Thông tin" aria-label="Username" aria-describedby="basic-addon1">
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Số lượng</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-music"></i>
                                </span>
                                <input ng-model="product.Quantity" type="text" class="form-control" placeholder="Number" aria-label="Username" aria-describedby="basic-addon1">
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Giá</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-music"></i>
                                </span>
                                <input ng-model="product.Price" type="text" class="form-control" placeholder="Ten" aria-label="Username" aria-describedby="basic-addon1">
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Giá Sale</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-music"></i>
                                </span>
                                <input ng-model="product.PromotionPrice" type="text" class="form-control" placeholder="Ten" aria-label="Username" aria-describedby="basic-addon1">
                                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <input ng-click="Edit()" value="Edit" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/angular.min.js"></script>
<script>
    var app = angular.module('Rogost', []);

    app.controller('Products', function ($scope, $http, $window) {
        $scope.product = {}

        var config = {
            params: {
                id: $("#id").val(),
            }
        }

        $http.get("/AdminShop/Products/GetByID", config).then(function (result) {
            $scope.product = result.data;
            console.log($scope.category)
        }, function (error) {
            alert("404 Error")
        });

        $scope.Edit = Edit;
        function Edit() {

            $http.post("/AdminShop/Products/Edit", $scope.product).then(function (result) {
                $window.location.href = '/AdminShop/Products';
            }, function (error) {
                console.log($scope.product)
                alert("404 Error")
            });
        }

    });
</script>
