@model IEnumerable<Project_3_v3.Models.Provider>

@{
    ViewBag.Title = "Nhà sản xuất";
    Layout = "~/Areas/AdminShop/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y" ng-controller="Providers">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span> Quản lý nhà sản xuất</h4>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="card">
        <h5 class="card-header">Danh sách nhà sản xuất</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PrvName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in provider">
                    <td>
                        {{item.PrvName}}
                    </td>
                    <td>
                        {{item.Address}}
                    </td>
                    <td>
                        {{item.Phone}}
                    </td>
                    <td>
                        {{item.Email}}
                    </td>
                    <td>
                        <a href="/AdminShop/Providers/Edit/{{item.PrvID}}">Sửa</a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiSa }) |*@
                        @*@Html.ActionLink("Details", "Details", new { id = item.MaLoaiSanPham }) |*@
                        <a href="/AdminShop/Providers/Delete/{{item.PrvName}}">Xoá</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script>
    var app = angular.module('Rogost', []);

    app.controller('Providers', function ($scope, $http) {
        $scope.provider = []
        $http.get("/AdminShop/Providers/Get", null).then(function (result) {
            $scope.provider = result.data;
            console.log($scope.provider)
        }, function (error) {
            alert("404 Error")
        });
    });
</script>
